@import url("https://fonts.googleapis.com/css?family=Kaushan+Script|Open+Sans+Condensed:300|Poiret+One&amp;subset=latin-ext");
$bodyfont: 'Poiret One',
cursive;
$jumbofont: 'Kaushan Script',
cursive;
$hfont: 'Open Sans Condensed',
sans-serif;
$wcolor: #fff;
$mycolor: #3EC7C2;
body {
    padding-top: 40px;
    font-family: $bodyfont;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    background-color: $mycolor;
}

.jumbotron {
    background-image: url("https://static.pexels.com/photos/261599/pexels-photo-261599.jpeg");
    background-position: center;
    background-size: cover;
    height: 95vh;
    font-family: $jumbofont;
    h1 {
        color: $wcolor;
        margin-top: 20vh;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .watch {
        color: $wcolor;
        margin-top: 15vh;
        background-color: $mycolor;
        border-bottom: 4px solid #229692;
        a {
            color: $wcolor;
            text-decoration: none;
            &:hover {
                background-color: #4fd8d3;
            }
        }
    }
}

#oMnie {
    padding: 50px;
    h2 {
        font-family: $hfont;
        font-weight: 100;
        padding-bottom: 35px;
        text-align: center;
        &:after {
            content: "";
            border-top: 1px solid;
            display: block;
            margin: 10px auto;
            width: 100px;
        }
        span {
            font-weight: 700;
        }
    }
    .me {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        img {
            padding: 20px;
        }
        .about {
            @extend img;
            text-align: justify;
        }
    }
}

#coRobie {
    background-color: $mycolor;
    @extend #oMnie;
}

#projekty {
    background-color: #27292B;
    @extend #oMnie;
    color: $wcolor;
    .carousel {
        height: 120px;
        margin: 0 auto;
    }
}

#kontakt {
    @extend #oMnie;
    .btn {
        background-color: $mycolor;
        color: $wcolor;
        border-bottom: 4px solid #229692;
        margin: 20px 0 20px;
    }
    .col-md-6 {
        padding-right: 40px;
        padding-left: 40px;
    }
    .cooperation {
        text-align: justify;
        margin-bottom: 30px;
        p {
            line-height: 28px;
        }
        .fa {
            padding: 10px 10px 0 0;
            font-size: 28px;
        }
    }
}

footer {
    background-color: #1B1B1B;
    padding: 20px;
    color: $wcolor;
    .socjals {
        margin: 20px 0 40px;
        a {
            padding: 20px;
            font-size: 28px;
            color: #3ec7c2;
        }
    }
}